.boardContainer {
    position: relative;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 40%;
}

.board {
    aspect-ratio: 1/1;
    border: 1px solid white;
    padding: 5px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.solvedBoard {
    border: 2px solid lightgreen;
}


.arrow {
    position: absolute;
    top: calc(-10%);
    left: calc(5%);
    transform: rotate(180deg);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 10%;
    height: auto;

    font-size: 3rem;
}

.resetBtn {
    font-family: "Arial Rounded MT Bold", "Verdana", "Trebuchet MS", sans-serif;
    margin-top: 1rem;
    align-self: center;
    background-color: darkgrey;
    border: none;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem;
    border-radius: 0.5rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
    color: var(--bg-color);
}

.resetBtn:hover {
    background-color: lightgray;
}