.tile {
    aspect-ratio: 1 / 1;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.movableTile {
    background-image: url('../assets/star.svg');
    text-align: center;
    border: 2px solid grey;
    font-size: 5rem;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.immovableTile {
    border: 1px solid white;
    background-color: white;
}

.solved {
    background-color: lightgreen !important;
    border-color: lightgreen !important;
}